extends layout.pug
append head
  title Log in with Vipps
block content
  h1 Log in
  p Press the button below to log in
  a(href="/auth/login" id="loginbtn")
    img(src="assets/vipps_logginn.png" style="max-width: 220px;")